<ngx-loading [show]='loading'></ngx-loading>

<div style="max-width: 600px; width: 100%;
margin:auto; border: solid 1px #e8e7ef; margin-top:10px">
<div class="flex-row">
  <span class="title">Employee Image</span>
  <!-- <img class="logo" [src]="'../assets/employeeDetails.png'" alt="logo"/> -->
  <span class="logo"[ngStyle]="{'background-image':'url('+image[0]+')'}"></span>
  

</div>


<div   class="flex-row">
   <span class="title">Employee Name:</span>
   <span class="value"> {{employData.employee_name}} </span>
</div>

<div   class="flex-row">
   <span class="title"> Salary:</span>
   <span class="value"> {{employData.employee_salary}} </span>
</div>

<div   class="flex-row">
   <span class="title">Age:</span>
   <span class="value"> {{employData.employee_age}} </span>
</div>


<div class="flex-row" style="justify-content: center; min-height: 50px; border-top: 1px solid lightgray"
  >
    <button
      mat-raised-button
      color="primary"
      style="max-width: 150px; max-height: 35px; margin: auto;"
      (click)="deleteEmployee()"
    >
      Delete
    </button>
  </div>


</div>

